doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    script(src='http://api.tiles.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
    link(rel='stylesheet', href='http://api.tiles.mapbox.com/mapbox.js/v2.4.0/mapbox.css')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no' )

  body
    block content
